.hits {
    text-align: center;
    padding: 20px;
    margin-bottom: 40px;
    border-bottom: 2px dotted $color-mint;

    h1 {
        margin-bottom: 20px;
    }
    
    span {
        font-weight: 600;
    }
}